<div class="icon-user flex flex-col items-center lg:flex-col-reverse">
  <div class="icon">
    <app-icon-button
      [type]="userIconType"
      [showRipple]="result === 'win'"
      size="lg"
    ></app-icon-button>
  </div>
  <p class="mt-4 lg:mb-10 text-center uppercase text-white text-md lg:text-xl">
    You picked
  </p>
</div>

<div class="icon-cpu flex flex-col items-center lg:flex-col-reverse">
  <div class="icon">
    <app-icon-button
      [type]="aiIconType"
      [showRipple]="result === 'loose'"
      size="lg"
    ></app-icon-button>
  </div>
  <p class="mt-4 lg:mb-10 text-center uppercase text-white text-md lg:text-xl">
    The house picked
  </p>
</div>

<div
  class="
    result-text
    col-span-full
    self-end
    text-center text-white text-5xl
    uppercase
    lg:text-6xl
  "
  [ngSwitch]="result"
>
  <span
    [@fade]="{ value: ':enter', params: { delay: '150ms' } }"
    *ngSwitchCase="'win'"
    >You won</span
  >
  <span
    [@fade]="{ value: ':enter', params: { delay: '150ms' } }"
    *ngSwitchCase="'loose'"
    >You lose</span
  >
  <span
    [@fade]="{ value: ':enter', params: { delay: '150ms' } }"
    *ngSwitchCase="'tie'"
    >It's a tie</span
  >
</div>

<div *ngIf="isResultShown" class="play-again col-span-full flex justify-center">
  <button
    type="button"
    [@fade]="{ value: ':enter', params: { delay: '350ms' } }"
    class="
      py-4
      px-16
      bg-white
      uppercase
      text-primary-dark text-center
      rounded-lg
      font-medium
      leading-none
      hover:text-red-500
      focus-visible:outline-none focus-visible:text-red-500
      lg:px-20
    "
    (click)="playAgain()"
  >
    Play again
  </button>
</div>
