:host {
  position: relative;
  display: inline-flex;
  height: 140px;
  width: 140px;
  overflow: visible;
}

.paper {
  background: var(--paper-gradient);
  border-color: var(--paper-border);
}
.rock {
  background: var(--rock-gradient);
  border-color: var(--rock-border);
}
.scissors {
  background: var(--scissors-gradient);
  border-color: var(--scissors-border);
}

.glow {
  position: absolute;
  //opacity: 0;
  //transform: scale(0);
  //background-color: #FFF;

  &-1 {
    inset: -15%;
    background-color: rgba(#fff, 0.03);
    //opacity: 0.03;
  }
  &-2 {
    inset: -38%;
    background-color: rgba(#fff, 0.03);
    //opacity: 0.03;
  }
  &-3 {
    inset: -60%;
    background-color: rgba(#fff, 0.02);
    //opacity: 0.02;
  }
}

@media all and (min-width: 1024px) {
  :host {
    height: 180px;
    width: 180px;

    &.size-lg {
      height: 240px;
      width: 240px;
    }
  }
}
