:host {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.3);
}

.rules {
  &-grid {
    display: grid;

    grid-template-columns: 1fr;
    grid-template-rows: 100px 1fr 100px;

    grid-template-areas: "title" "image" "close";

    align-items: center;
  }

  &-title {
    grid-area: title;
  }

  &-image {
    grid-area: image;
  }

  &-close {
    grid-area: close;
  }
}

@media all and (min-width: 1024px) {
  .rules-grid {
    grid-template-columns: 1fr auto;
    grid-template-rows: auto auto;

    grid-template-areas: "title close" "image image";

    grid-gap: 30px;
  }
}
