@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html {
  --primary-text: hsl(229, 64%, 46%);
  --primary-dark-text: hsl(229, 25%, 31%);
  --outline: hsl(217, 16%, 45%);

  --white: hsl(255, 100%, 100%);

  --background-gradient: linear-gradient(180deg, hsl(214, 47%, 23%) 0%, hsl(237, 49%, 15%) 100%);
  --scissors-gradient: linear-gradient(90deg, hsl(39, 89%, 49%) 0%, hsl(40, 84%, 53%) 100%);
  --paper-gradient: linear-gradient(90deg, hsl(230, 89%, 62%) 0%, hsl(230, 89%, 65%) 100%);
  --rock-gradient: linear-gradient(90deg, hsl(349, 71%, 52%) 0%, hsl(349, 70%, 56%) 100%);
  --lizard-gradient: linear-gradient(90deg, hsl(261, 73%, 60%) 0%, hsl(261, 72%, 63%) 100%);
  --cyan-gradient: linear-gradient(90deg, hsl(189, 59%, 53%) 0%, hsl(189, 58%, 57%) 100%);
}

html, body {
  height: 100%;
  background: var(--background-gradient);

  font-family: 'Barlow Semi Condensed', sans-serif;
  letter-spacing: 0.1rem;
}

* {
  box-sizing: border-box;
}

.text-primary {
  color: var(--primary-text)
}

.text-primary-dark {
  color: var(--primary-dark-text)
}

.bg-dark {
  background-color: var(--primary-dark-text);
}
